body
{
	background: url("../img/demo/img-demo.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#espacioblanco
{
	width: 100% ;
	height: 100vh;
}

#central
{
	margin-bottom: 0 ;
	width: 100% ;
	height: 100vh ; /*500px*/
	background-color: gray ;
}

#final
{
	margin-top: -20px ;
	width: 100% ;
	height: 120px ;
	background-color: black ;
	color: white;
}

#final a{
	color: white;
}


.principal{
	color: white;
}

.jumbotron{
	margin-top: 100px;
	background-color: rgba(0,0,0,.5);
}
