* {
        color: #003366;
        font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    }

    body {
        background: #FFFFFF;
        padding-left: 30px;
        padding-right: 30px;
    }

    code {
        font-family: Courier, serif;
        font-size: 1em;
    }

    blockquote {
        border: 2px dotted #003366;
        background-color: #F5F5F5;
        padding: 10px;
    }

    tt {
        font-family: Arial;
    }

    dt {
        font-weight: bold;
    }

    .centrado {
        text-align: center;
        display: block;
    }

    a.boton {
        border: 2px solid #003366;
        background: #FFFFFF;
        text-decoration: none;
        color: #003366;
        padding: 2px 10px 2px 10px;
        vertical-align: middle;
    }

    a.boton:hover {
        background: #BDCED6;
    }

    .pregunta {
        width: 100%;
        overflow: hidden;
    }

    .textoimagen {
        float: left;
        width: 50%;
    }

    .imagen {
        float: right;
        width: 48%;
        text-align: right;
    }

    img {
        width: auto;
        height: auto;
    }
